alembic==0.7.4
amqp==1.4.9
aniso8601==0.90
anyjson==0.3.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.0
billiard==3.3.0.19
boto==2.34.0
cairocffi==0.6
CairoSVG==1.0.22
celery==3.1.17
cffi==0.8.6
cssselect==0.9.1
decorator==4.0.10
enum34==1.1.6
Flask==0.10.1
Flask-RESTful==0.3.1
Flask-SQLAlchemy==2.0
fuzzywuzzy==0.6.1
gevent==1.1b5
greenlet==0.4.5
gunicorn==19.1.1
html5lib==0.999999999
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.7.3
kombu==3.0.37
lxml==3.4.2
Mako==1.0.0
MarkupSafe==0.23
mixpanel-py==3.2.1
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.7.0
prompt-toolkit==1.0.9
psycopg2==2.5.4
ptyprocess==0.5.1
pycparser==2.10
Pygments==2.1.3
Pyphen==0.9.1
python-Levenshtein==0.12.0
pytz==2014.10
redis==2.10.3
requests==2.5.1
selenium==2.44.0
sendgrid==1.3.0
simplegeneric==0.8.1
six==1.8.0
smtpapi==0.2.0
SQLAlchemy==0.9.8
tinycss==0.3
traitlets==4.3.1
vine==1.1.3
wcwidth==0.1.7
WeasyPrint==0.23
webencodings==0.5
Werkzeug==0.9.6
