<h3>Hi {{ name }},</h3> 

<p>Welcome to TestRocket, your free exam preparation app.


<p>
    At TestRocket, we're always trying to make your test taking experience better, with good content, personalised preparation and
    best in class mentoring. Remember its all about practice, keep using our platform to take unlimited free test and improve before 
    the final leap.
<p>

<p>
    Our in depth analysis shall help you identify your strengths and weaknesses and aid you to nail that test you have been preparing for.
</p>

<p>
    See you soon and till then - <strong>PRACTICE!, ANALYSE! &amp; IMPROVE</strong>
</p>

<p>
    To get started log in at <a href="http://www.testrocket.in">testrocket.in</a> with your e-Mail and password.
</p>
